<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpecifiedExtensionFileMoveByWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SpecifiedExtensionFileMoveByWPF.Properties.Settings>
            <setting name="SavedFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecifiedList" serializeAs="String">
                <value />
            </setting>
            <setting name="AviFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MkvFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mp4Flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WmvFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JpgFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PngFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZipFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteFolderFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubFolderFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverWriteFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludingFilesList" serializeAs="String">
                <value />
            </setting>
            <setting name="IsoFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Bounds" serializeAs="String">
                <value>10,10,900,600</value>
            </setting>
        </SpecifiedExtensionFileMoveByWPF.Properties.Settings>
    </userSettings>
</configuration>